VITE_API_URL=http://localhost:3000
VITE_ENVIRONMENT=development

VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=abacontex
VITE_KEYCLOAK_CLIENT=frontend
VITE_KEYCLOAK_REDIRECT_URI=http://localhost/