# =====================
# POSTGRES
# =====================
POSTGRES_DB=abacontex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# =====================
# KEYCLOAK
# =====================
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HOSTNAME=localhost

# =====================
# BACKEND
# =====================
KEYCLOAK_REALM=abacontex
KEYCLOAK_BASE_URL=http://localhost:8080

# =====================
# FRONTEND
# =====================
VITE_API_URL=http://localhost:3000
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=abacontex
VITE_KEYCLOAK_CLIENT=frontend
VITE_KEYCLOAK_REDIRECT_URI=http://localhost/
VITE_ENVIRONMENT=development

# =====================
# Tags
# =====================
BACKEND_TAG=abc-123
FRONTEND_TAG=def-456

# =====================
# PORTS
# =====================
FRONTEND_PORT=5173
BACKEND_PORT=3000
POSTGRES_PORT=5432
KEYCLOAK_PORT=8080