# =====================
# POSTGRES
# =====================
POSTGRES_DB=abacontex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/abacontex?schema=public
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/abacontex?schema=public

# =====================
# KEYCLOAK
# =====================
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HOSTNAME=localhost

GOOGLE_CLIENT_ID=xyz.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xyz
# Para produccion usar: GOOGLE_HOSTED_DOMAIN=ipgsanmartin.edu.ar
GOOGLE_HOSTED_DOMAIN=

# =====================
# BACKEND
# =====================
KEYCLOAK_REALM=abacontex
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_ISSUER=http://localhost:8080/realms/abacontex

KEYCLOAK_ADMIN_CLIENT_ID=backend-api
KEYCLOAK_ADMIN_CLIENT_SECRET=7zcglfTGpPQa7tC76g7VyXguVX41jha2
KEYCLOAK_FRONTEND_CLIENT_ID=frontend
KEYCLOAK_TESTING_CLIENT_ID=testing

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_SECURE=false

SMTP_USER=admin
SMTP_PASSWORD=admin

SMTP_FROM=no-reply@abacontex.local
SMTP_DEBUG=false
SMTP_STARTTLS=false
SMTP_AUTH=false
SMTP_FROM_NAME=Abacontex
SMTP_SSL=false

FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=scwkazap
CLOUDINARY_API_KEY=xyz
CLOUDINARY_API_SECRET=xyz

# =====================
# FRONTEND
# =====================
VITE_API_URL=http://localhost:3000
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=abacontex
VITE_KEYCLOAK_CLIENT=frontend
VITE_KEYCLOAK_REDIRECT_URI=http://localhost/
VITE_ENVIRONMENT=development

# =====================
# Tags
# =====================
BACKEND_TAG=latest
FRONTEND_TAG=latest

# =====================
# PORTS
# =====================
FRONTEND_PORT=5173
BACKEND_PORT=3000
POSTGRES_PORT=5432
KEYCLOAK_PORT=8080
MAILPIT_PORT=8025
