POSTGRES_DB=abacontex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KEYCLOAK_REALM=abacontex
KEYCLOAK_BASE_URL=http://localhost:8080

GEMINI_API_KEY=tu-api-key
GEMINI_OCR_MODELS=gemini-3.5-flash-lite,gemini-3.7-flash,gemini-3.8-flash,gemini-3.7-flash-lite
OCR_MAX_FILE_SIZE_MB=10
OCR_MOCK_ENABLED=false

GROQ_API_KEY=tu-api-key
GROQ_MODEL_GENERACION=openai/gpt-oss-120b
GENERACION_MOCK_ENABLED=false
